ion-content ion-toolbar {
  --background: translucent;
}

ion-card-content{
  padding: 10px 10px 0 10px;
}

ion-card-header {
  padding-top: 10px;
}

ion-card-title {
  font-size: 16px;
  font-weight: 400;
  color: #a1a8b0;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  margin-bottom: 5px;
}

ion-card-subtitle {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #364f6b;
}

ion-title {
  text-align: center;
  font-size: 1.35rem;
}

ion-card {
  background-color: white;
}

.position{
  text-align: center;
}